/* styles.css */

/* General Styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, #0F67B1, #3FA2F6, #3FA2F6, #0F67B1);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height instead of height for better responsiveness */
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 720px;
    width: 100%;
    margin: 20px; /* Added margin for small screens */
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-control, .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: aliceblue ;/* Warna latar belakang biru muda */
    transition: all 0.3s ease; /* Transisi halus */
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #1e88e5; /* Dark blue border color on focus */
    background-color: #ffffff;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e88e5; /* Dark blue button color */
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1565c0; /* Darker blue on hover */
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        margin: 10px;
    }

    h2 {
        font-size: 18px;
    }

    input[type="text"],
    textarea {
        font-size: 13px;
    }

    button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}
