.icon-text {
    display: flex;
    align-items: center;
}

.icon-text img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.location-icon {
    width: 1.5em;
    height: 1.5em;
}

#love {
    color: #007bff;
    margin-right: 10px;
    font-size: 35px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#love:hover {
    color: red;
}
.container i{
    color: #008DDA;
}