body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost', sans-serif;
    background: linear-gradient(to bottom, #0F67B1, #3FA2F6, #0F67B1);
}

.main-signin{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url(/img/bg-login.jpeg) no-repeat center / cover;
    border-radius: 20px;
}

#chk {
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content:center ;
    display: flex;
    
}

.main-signin label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px auto 40px auto;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

/* .main-signin input{
    width: 60%;
    height: 30px;
    background: #ededed;
    justify-content:center ;
    display: flex;
    padding: 10px;
    border: 1px solid rgb(248, 0, 0);
    outline: none;
    border-radius: 5px;
} */

.main-signin button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #0F67B1;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.main-signin button:hover{
    background: #044070;
}

.login{
    height: 480px;
    background: aliceblue;
    border-radius: 60% / 10%;
    transform: translateY(-80px);
    transition: .8s ease-in-out;
    justify-content:center ;
    display: flex;
}

.login label{
    color: #0F67B1;
    transform: scale(.6);
    margin: 20px auto ;
}

#chk:checked ~ .login{
    transform: translateY(-380px);
}

#chk:checked ~ .signup label{
    transform: scale(1);
}

#chk:checked ~ .signup label{
    transform: scale(.6);
}
.inputBox{
    width: 250px;
    display: flex;
    justify-content: center ;
    
}
.inputBox input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    
    border: 2px solid #3FA2F6;
    background: aliceblue;
    border-radius: 5px;
    outline: none;
    color: rgba(255,255,255,0,25);
    font-size: 1em;
    
}
.inputBox span{
    position: absolute;
    left: 50px;
    margin-top: 2px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0,25);
    transition: 0.5s;
}
.inputBox input:focus,
.inputBox input:valid{
    border: 2px solid #0F67B1;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: blue;
    transform: translateX(10px) translateY(-8px);
    font-size: 0.65em;
    padding: 0 10px;
    background: aliceblue;
    border-left: 2px solid #0F67B1;
    border-right: 2px solid #0F67B1;
}
